:root {
  --main-margin: 5%;
}

.searchResults {
  padding: 0;
}

.container {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 25%));
  grid-gap: 0 20px;
  grid-auto-rows: 1;
  grid-auto-flow: row dense;
  overflow-x: scroll;
}

.posterItemWrapper {
  padding: 0;
}
